= form_tag update_account_user_url(@user), :method => 'put', :multipart => true do
  -box :class => "blockFlag blue first_alt" do
    %h1
      .blockFlagBlueRightErgo
      .blockFlagBlueLeftErgo
      =:you_are_editing_your_account.l
    .blockContent
      = link_to :edit_your_user_profile.l, edit_user_path(@user)

  = error_messages_for :user

  -box :class => "blockFlag blue yui-b first_alt" do
    %h1
      .blockFlagBlueRightErgo
      .blockFlagBlueLeftErgo
      = :informations.l
    .blockContent
      %h3= :username.l
      = text_field :user, :login, :size => "28", :class => "inputText default"

      %h3=:e_mail_address.l
      = text_field :user, :email, :size => "28", :class => "inputText default"

      %h3=:password.l
      = password_field :user, :password, :size => "28", :class => "inputText default"

      %label=:confirm_password.l
      = password_field :user, :password_confirmation, :size => "28", :class => "inputText default"

  #yui-main
    .yui-b
    

      -box :class => "blockFlag blue first_alt" do
        %h1
          .blockFlagBlueRightErgo
          .blockFlagBlueLeftErgo
          =:you_are_editing_your_account.l
        .blockContent
          = render :partial => "omniauth_connect"

      -box :class => "blockFlag blue" do
        %h1
          .blockFlagBlueRightErgo
          .blockFlagBlueLeftErgo
          =:e_mail_notification.l
        .blockContent

          %fieldset
            %label 
              = check_box :user, :notify_friend_requests        
              =:notify_of_friend_requests.l :site => configatron.community_name
            
            %label
              = check_box :user, :notify_comments         
              = :notify_of_comments.l :site => configatron.community_name
            
            %label
              = check_box :user, :notify_community_news
              =:notify_email_updates.l :site => configatron.community_name
      
      -box :class => "blockFlag blue" do
        %h1
          .blockFlagBlueRightErgo
          .blockFlagBlueLeftErgo
          =:profile_privacy.l
        .blockContent

          %fieldset
            %label
              = check_box :user, :profile_public
              =:make_my_profile_public.l
              %br
              %em
                =:when_checked_your_profile_will_be_visible_to_anyone.l
              %br
              %em
                =:when_unchecked_your_profile_will_only_be_visible_to_people_who_are_logged_in_to.l
                = "#{configatron.community_name}."
      %p.btn-in-box
        %button{:type => "submit", :class => "inputButton icon16 tick btn"}= :save_changes.l

      %p
        =link_to :deactivate_link.l, deactivate_user_path(@user), :method => :put, :confirm => :deactivate_confirmation.l
        %br
        %label
          %em= :deactivate_tip.l            
